<div style="padding: 50px">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card>
</div>


<!--<h1 highlight>Example utilisation directive</h1>-->
<!--<div>le nombre de population de la mauritanie est-->
<!--{{nombrePopulation | montantFormatter : true}}</div>-->
<!--<app-show-success [msg]="msg.message" *ngIf="msg && msg.type == 'success'"></app-show-success>-->
<!--<app-show-error [msg]="msg.message" *ngIf="msg && msg.type == 'error'"></app-show-error>-->
<!--<div class="alert-success alert">{{helloMsg}}</div>-->
