<div style="padding: 50px">
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </mat-card>
</div>


<!--<h1 highlight>Example utilisation directive</h1>-->
<!--<div>le nombre de population de la mauritanie est-->
<!--{{nombrePopulation | montantFormatter : true}}</div>-->
<!--<app-show-success [msg]="msg.message" *ngIf="msg && msg.type == 'success'"></app-show-success>-->
<!--<app-show-error [msg]="msg.message" *ngIf="msg && msg.type == 'error'"></app-show-error>-->
<!--<div class="alert-success alert">{{helloMsg}}</div>-->
